.hide {
  display: none;
}

.body {
  color: #434455;
  /* background-color: #FFFFFF; */
  background: var(--CLOUD, #ffffff);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.section {
  padding-top: 188px;
  padding-bottom: 188px;
}
/* 
@media only screen and (min-width: 768px) {
  .section {
  }
}
@media only screen and (min-width: 1158px) {
  .section {
  }
}
*/

/* mobile*/
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* tablet*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* dekstop*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* h2*/
/* Header*/
.header {
  position: sticky;
  top: -1;
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 72px;
}
.navbar {
  display: flex;
  align-items: center;
  /*margin: 0;*/
}

.menu-top {
  display: flex;
  gap: 40px;
}

.header-menu,
.header-adress {
  /* display:none; */
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .header-menu,
  .header-adress {
    /* display: block; */
    visibility: visible;
  }
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-top-line {
  display: block;
  position: relative;

  font-size: 16px;
  font-weight: 500;
  color: rgba(46, 47, 66, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}

.menu-top-line.active::after,
.menu-top-line:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  color: #404bbf;
  width: 100%;
}

.menu-top-line:hover,
.menu-top-line:focus {
  color: #404bbf;
}

.menu-top-line.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  color: #404bbf;
}
.adress-item {
  font-style: normal;
}

@media screen and (min-width: 1158px) {
  .adress-item {
    display: flex;
    gap: 40px;
  }
}

/*.adress {
  font-style: normal;
  color: var(--SLATE, #434455);

 
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.32px;
} */

/*2?*/
.adress-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*2?*/
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

/* Hero*/
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office2.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  /*background-size: 1440px 600px;*/
  background-size: cover;
  background-color: #2e2f42;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mob@2xhero.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tab@1xhero.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images//hero/tab@2xhero.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desk@1xhero.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desk@2xhero.jpg);
  }
}

.hero-head {
  color: var(--WHITE, #fff);
  text-align: center;

  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-button {
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*Section-first-benefits*/

.content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-content {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.list-content-iteam {
  width: calc((100% - 72px) / 4);
}

.content-header {
  margin-bottom: 8px;
  text-align: center;
  /* color: var(--NAVY-BLUE, #2e2f42);  
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.4px;*/
}

/* начиная с моддильного до десктопа
 не показываем блоки с иконками  */
.content-icons-box {
  display: none;
}
.list-content-iteam {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .list-content-iteam {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .list-content-iteam {
    width: calc((100% - 72px) / 4);
    /* width: calc((100% - (24px * 3)) / 4); */
    /* width: calc((100% - (24px * (4 - 1))) / 4); */
  }

  /*?*/
  .content-icons-box {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    margin-bottom: 8px;
  }

  .content-icons {
    width: 64px;
    height: 64px;
    /* fill: #2E2F42; */
    box-sizing: border-box;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .content-header {
    text-align: left;
  }
}

.content-icons {
  transform: scale(1.2);
}
.content-header-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/*Section-second*/

.links-box {
  display: flex;
  /*flex-shrink: 0;*/
  justify-content: center;
  gap: 24px;
}

.footer-links-box {
  gap: 16px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  width: 18px;
  height: 16px;
  fill: #f4f4fd;
}

/* ================================================ */
/*our team*/
/* #region:Team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-head {
  font-size: 36px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 24px; */
  column-gap: 24px;
  row-gap: 64px;
}

.team-iteam {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: flex;
  width: 264px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;

  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .team-iteam {
    display: inline-flex;
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .team-iteam {
    width: calc((100% - 24px * 3) / 4);
  }
}

.team-info {
  display: block;
  text-align: center;
  padding: 32px 0;
}

.team-head-card {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion:Teaam */

/* ================================================ */
/* Section-third-portfolio*/
/* #region:Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12px;
  row-gap: 48px;
}

@media only screen and (min-width: 768px) {
  .list-portfolio {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .list-portfolio {
    row-gap: 48px;
  }
}

.portfolio-item {
  /*width: 288px;*/
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    /*width: 100%;*/
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  padding: 40px 32px;
}

.portfolio-item:hover .portfolio-img-overlay {
  transform: translateY(0);
}

.portfolio-head-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-head-card {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-card-text {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion:Portfolio */
/* ==================================== */

/*Footer*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer-logo {
  text-align: center;
}

.footer-logo-box {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer-logo-box {
    margin-right: 24px;
  }
  .footer-logo {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-box {
    margin-right: 120px;
  }
  .footer-logo {
    text-align: left;
  }
}

/*?*/
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
/*.footer-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
  color: rgba(244, 244, 253, 1);*/

.social-media {
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .social-media {
    margin: 0;
    padding-bottom: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .social-media {
    margin-right: 80px;
    padding-bottom: 0;
    text-align: left;
  }
}

.social-footer-header {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.logo {
  /* display: inline-block;*/
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway, sans-serif;

  color: var(--IRIS, #4d5ae5);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  margin-right: 76px;
}
/*subscribe*/

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 320px) {
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .subscribe {
    display: block;
    flex-wrap: wrap;
    justify-content: start;
  }

  .subscribe-form {
    flex-wrap: nowrap;
    justify-content: start;
  }
}

@media screen and (min-width: 1158px) {
  .subscribe {
    width: 453px;
  }
}
.subscribe-header {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/*.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-form-input {
  width: 288px;
  height: 40px;
}*/

@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
}

.subscribe-form-input[id='email'] {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.subscribe-form-input::placeholder {
  columns: #fff;
}

.subscribe-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-form-svg {
  margin-left: 16px;
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
  fill: yellow;
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop,
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.active,
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/*.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}*/

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px;
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}
.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/*modal form*/

.modal-form-input-box {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-div {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.modal-form-svg {
  width: 18px;
  height: 24px;
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + svg,
.modal-form-input:focus + svg {
  fill: #4d5ae5;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-form-textarea-box {
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:hover,
.modal-form-textarea:focus,
.modal-form-input:hover,
.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox-box {
  margin-bottom: 24px;
}

.modal-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
/*.modal-form-checkbox-svg {
  opacity: 0;
}*/

.modal-form-checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-form-checkbox-link {
  color: #4d5ae5;
}

input[type='checkbox']:checked + label > span {
  background-color: #404bbf;

  border: none;
}
/*mobile menu*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;
  background: #fff;
  transform: translateX(-100%);
}
.menu.is-open {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}
.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.menu-nav {
  margin-bottom: auto;

  /* padding-top: 72px;
  padding-bottom: 168px;*/
}
.menu-nav-item {
  padding-bottom: 20px;
}
.menu-nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.menu-nav-link:hover {
  color: var(--OCEAN, #404bbf);
}

.menu-adress-item {
  padding-bottom: 24px;
}
/* .mobile-menu {} */

.adress-item-mobile {
  padding-bottom: 48px;
}
.adress-link-mobile {
  color: var(--NAVY-BLUE, #2e2f42);
}
/*.socials {
  display: flex;
  gap: 40px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: ;
  border: ;
}
.social-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff
}*/
.mobile-menu-btn-open {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 28px;
  height: 28px;
  padding: 0;
  /* z-index: 111; */
  cursor: pointer;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;

  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn-open {
    visibility: hidden;
    display: none;
  }
}
